@model IEnumerable<RehberArama.Models.SearchModels>

<table class="table table-hover table-striped">
    <tr><th>Soyad</th></tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(item.Soyad, "PersonelPartial",
                        new{
                            key = item.ID
                        }, new AjaxOptions{
                            UpdateTargetId = "PersonelPartial",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnSuccess = "$( \"#PersonelPartial\" ).focus();"
                        })
                </td>
            </tr>
        }
    }
</table>

